body{
    background-image: url(cloud.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 700px;
}
.temp{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.unit{
    font-size: 20px;
    font-weight: bold;
    color: black;
    
}

  .container{
    width: 400px;
    /* max-width:400px; */
    height: 100px;
    background: white;
    margin: 250px auto 20px;
    padding: 20px 20px 60px;
    border-radius: 20px;
    border: 1px;
  }